<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Calculator</title>
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body class="bodyStyle">
        <div>
            <div class="inputStyle">
                <label class="labelStyle" for="number1">Number 1 : </label>
                <input type="text" id="number1" name="number1"/> <br/>
            </div>
            <br/>
            <div class="inputStyle">
                <label class="labelStyle" for="number2">Number 2 : </label>
                <input type="text" id="number2" name="number2"/>
            </div>
            <br/>
            <div class="inputStyle">
                <label class="labelStyle" for="result">Result : </label>
                <input type="text" id="result" style="margin-left: 25px"/>
            </div>
            <br/><br/>
            <button class="buttonStyle" onclick="add()">+</button>
            <button class="buttonStyle" onclick="red()">-</button>
            <button class="buttonStyle" onclick="div()">/</button>
            <button class="buttonStyle" onclick="mul()">*</button>
            <br/><br/>
            <div style="margin-left: 80px">
                <button class="buttonStyle" onclick="clearInput()">Clear All</button>
            </div>
        </div>
        <br/><br/>
    </body>
    <script>
        function add() {
            let n1 = document.getElementById("number1").value;
            document.getElementById("number1").innerHTML = n1;
            let n2 = document.getElementById("number2").value;
            document.getElementById("number2").innerHTML = n2;
            if (isNaN(n1) || isNaN(n2)) {
                alert("Please Enter Number");
                return;
            }
    
            let data = {
                n1: n1,
                n2: n2,
            };
            fetch('http://localhost:3001/cal/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    Accept: "application/json"
                },
                body: JSON.stringify(data),
            })
                .then((res) => res.json())
                .then((data) => {
                    console.log("Add Result", data.cal);
                    document.getElementById("result").value = data.cal
                })
        }
        function red() {
            let n1 = document.getElementById("number1").value;
            document.getElementById("number1").innerHTML = n1;
            let n2 = document.getElementById("number2").value;
            document.getElementById("number2").innerHTML = n2;
            if (isNaN(n1) || isNaN(n2)) {
                alert("Please Enter Number");
                return;
            }
    
            let data = {
                n1: n1,
                n2: n2,
            };
            fetch('http://localhost:3001/cal/red', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    Accept: "application/json"
                },
                body: JSON.stringify(data),
            })
                .then((res) => res.json())
                .then((data) => {
                    console.log("Add Result", data.cal);
                    document.getElementById("result").value = data.cal
                })
        }
        function div() {
            let n1 = document.getElementById("number1").value;
            document.getElementById("number1").innerHTML = n1;
            let n2 = document.getElementById("number2").value;
            document.getElementById("number2").innerHTML = n2;
            if (isNaN(n1) || isNaN(n2)) {
                alert("Please Enter Number");
                return;
            }
    
            let data = {
                n1: n1,
                n2: n2,
            };
            fetch('http://localhost:3001/cal/div', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    Accept: "application/json"
                },
                body: JSON.stringify(data),
            })
                .then((res) => res.json())
                .then((data) => {
                    console.log("Add Result", data.cal);
                    document.getElementById("result").value = data.cal
                })
        }
        function mul() {
            let n1 = document.getElementById("number1").value;
            document.getElementById("number1").innerHTML = n1;
            let n2 = document.getElementById("number2").value;
            document.getElementById("number2").innerHTML = n2;
            if (isNaN(n1) || isNaN(n2)) {
                alert("Please Enter Number");
                return;
            }
    
            let data = {
                n1: n1,
                n2: n2,
            };
            fetch('http://localhost:3001/cal/mul', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    Accept: "application/json"
                },
                body: JSON.stringify(data),
            })
                .then((res) => res.json())
                .then((data) => {
                    console.log("Add Result", data.cal);
                    document.getElementById("result").value = data.cal
                })
        }
    
        function clearInput (){
            document.getElementById("number1").value = "";
            document.getElementById("number2").value = "";
            document.getElementById("result").value = "";
        }
    
    </script>
</html>